<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>404</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="icon" href="/images/weather.png"/>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <span>{{errorMessage}}<br/></span>
    </div>
    {{>footer}}
  </body>
</html>
