<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="icon" href="/images/weather.png"/>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <img class="portrait" src="/images/Robot.jpg"/>
    </div>
    {{>footer}}
  </body>
</html>
